<!DOCTYPE html>
<html>


<body>
<div style="position:relative;top:45px;">
	<%= image_tag("OmegaSite1.jpg", :alt => "Omega Cleaners Professional Cleaning Services", :style=>"display:block;margin-left:auto;margin-right:auto;") %>
</div>


<nav role="navigation" style="border: 1px solid transparent;min-height: 50px;background: rgb(37, 76, 98);position: absolute;right: 0;left: 0;top 0px;">

	<%= link_to (image_tag("omega.png", :style=>"width:65px;height:52px;margin-left:35%;")), root_path %>

	<%= link_to (image_tag("omegatext.png", :style=>"width:204px;height:49px;")), root_path %>

	<p1 style="vertical-align:50%; font-family:futura;font-size: 23px;font-weight: normal;color: #ffffff;text-decoration: none !important;">info@omegacleaners.ca</p1> 
</body>
</html>

