<!DOCTYPE html>
<html>


<body>
<p> </br> </p>
<%= image_tag("newhome.jpg", :alt => "Omega Cleaners Professional Cleaning Services", :style=>"width:100%;height:40%;display:block;margin-left:auto;margin-right:auto;") %>

<table border=”0” bgcolor="#254c62" cellspacing="0" width="100%" align="center" frame="void" rules="none">
<tr >
<th width="20%"> </br> </th>
<th width="16.8%" > </br> </th>
<th width="4.8%"> </br> </th>
<th width="16.8%" > </br> </th>
<th width="4.8%"> </br> </th>
<th width="16.8%" > </br> </th>
<th width="20%"> </br> </th>
</tr>


<tr >
<th rowspan="2" width="20%"> </br> </th>
<th rowspan="2" width="16.8%" style="font-family: futura;font-weight: normal;font-size: 23px;color: #e6bc3d;" > ESSENTIAL </th>
<th rowspan="2" width="4.8%"> </br> </th>
<th rowspan="2" width="16.8%" style="font-family: futura;font-weight: normal;font-size: 23px;color: #e6bc3d;"> PREMIUM </th>
<th rowspan="2" width="4.8%"> </br> </th>
<th rowspan="2" width="16.8%" style="font-family: futura;font-weight: normal;font-size: 23px;color: #e6bc3d;"> CUSTOM </th>
<th rowspan="2" width="20%"> </br> </th>
</tr>
</table>

<table border=”0” bgcolor="#254c62" cellspacing="0" width="60%" align="center" frame="void" rules="none">





<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

</table>

<table border=”0” bgcolor="#ffffff" cellspacing="0" width="60%" align="center" frame="void" rules="none">

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> dust removal </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #568dac;"> essentials plus: </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #568dac;"> pick any service(s) from essential or premium </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> floor, baseboard, and countertop cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> fragrances </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> washroom and kitchen sanitization </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> natural cleaners </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> garage, patio, and basement cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> furnace filter replacement </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> window cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> evestrough cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="200px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>



</table>

</body>
</html>
