<!DOCTYPE html>
<html>


<body>
<p> </br> </p>
<%= image_tag("newhome1.jpg", :alt => "Omega Cleaners Professional Cleaning Services", :style=>"width:101.6%;height:40%;display:block;margin-left:-1%;margin-right:auto;") %>

<table border=”0” bgcolor="#254c62" cellspacing="0" width="101.6%"   frame="void" rules="none" style="margin-left: -1%" ; >
<tr >
<th width="20%"> </br> </th>
<th width="16.8%" > </br> </th>
<th width="4.8%"> </br> </th>
<th width="16.8%" > </br> </th>
<th width="4.8%"> </br> </th>
<th width="16.8%" > </br> </th>
<th width="20%"> </br> </th>
</tr>


<tr >
<th rowspan="2" width="20%"> </br> </th>
<th rowspan="2" width="16.8%" style="font-family: futura;font-weight: normal;font-size: 23px;color: #e6bc3d;" > ESSENTIAL </th>
<th rowspan="2" width="4.8%"> </br> </th>
<th rowspan="2" width="16.8%" style="font-family: futura;font-weight: normal;font-size: 23px;color: #e6bc3d;"> PREMIUM </th>
<th rowspan="2" width="4.8%"> </br> </th>
<th rowspan="2" width="16.8%" style="font-family: futura;font-weight: normal;font-size: 23px;color: #e6bc3d;"> CUSTOM </th>
<th rowspan="2" width="20%"> </br> </th>
</tr>
</table>

<table border=”0” bgcolor="#254c62" cellspacing="0" width="60%" align="center" frame="void" rules="none">





<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

</table>

<table border=”0” bgcolor="#ffffff" cellspacing="0" width="60%" align="center" frame="void" rules="none">

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> dust removal </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #568dac;"> essentials plus: </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #568dac;"> pick any service(s) from essential or premium </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> floor, baseboard, and countertop cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> fragrances </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> washroom and kitchen sanitization </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> natural cleaners </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> garage, patio, and basement cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> furnace filter replacement </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="15px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>

<tr bgcolor="ffffff">
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> window cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;"> evestrough cleaning </th>
<th width="8%" > </br> </th>
<th width="28%" style="font-family: futura;font-weight: normal;font-size: 18px;color: #254c62;">  </th>
</tr>

<tr height="200px">
<th width="28%">  </th>
<th width="8%"  bgcolor="ffffff" >  </th>
<th width="28%"> </th>
<th width="8%" bgcolor="ffffff" >  </th>
<th width="28%">  </th>
</tr>



</table>


<nav role="navigation" style="border: 1px solid transparent;min-height: 50px;background: rgb(37, 76, 98);position: absolute;right: 0;left: 0;top 0px;">

	<%= link_to (image_tag("omega.png", :style=>"width:65px;height:52px;margin-left:35%;")), root_path %>

	<%= link_to (image_tag("omegatext.png", :style=>"width:204px;height:49px;")), root_path %>

	<p1 style="vertical-align:50%; font-family:futura;font-size: 23px;font-weight: normal;color: #ffffff;text-decoration: none !important;">info@omegacleaners.ca</p1> 

	


</body>
</html>
