<div style="width: 300px;margin-left: auto;margin-right: auto;margin-top: 90px;">
<h2 style="font-family: Arial, sans-serif;font-size: 30px;font-weight: normal;margin-top: 20px;margin-bottom: 10px;line-height: 1.1;">
	New Event
</h2>
<%= render 'form' %>
</div>